body {
    font-family: "Lato", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

header {
    background: rgba(229, 84, 115, 10%);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 140px 0 140px;
}

.banner-content {
    width: 50%;
}

.banner-title {
    color: #272727;
    font-size: 60px;
    margin-bottom: 25px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 60%);
    font-size: 15px;
}

.btn-primary {
    background: #E55473;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    height: 55px;
    width: 155px;
    padding: 15px;
    font-size: 15px;
    margin-top: 25px;
}

.banner-flower {
    width: 420px;
}

/* main section styles */

section {
    margin-top: 120px;
}

.featured-flowers {
    padding:0 90px 90px 90px;
}

.flower-description {
    color: rgba(39, 39, 39, 60%);
    font-size: 15px;
    margin-bottom: 20px;
}

.flower-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

.featured-content {
    width: 500px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    /* display: flex; */
}

.flower-photos {
    display: flex;
    gap: 30px;
    
}

.photos-description {
    text-decoration: underline;
    display: flex;
    margin-top: 15px;
    /* margin-left: 120px; */
    /* gap: 300px; */
    justify-content: space-around;
}

.flower-photos img {
    width: 300px;
    height: 400px;
    padding: 40px 40px 0 40px;
    border: 0;
    border-radius: 190px 190px 0 0;
}

.pink {
    background: rgba(167, 33, 98, 15%);
}

.teal {
    background: rgba(5, 151, 160, 15%);
}

.gray {
    background: rgba(71, 125, 17, 15%);
}